In [2]:
print('Hello world')

Hello world

In [3]:
5**2

25

 - #* multiplication
 - #** Power
- #+ plus
- #/ divide

SyntaxError: invalid syntax (<ipython-input-4-226af764700b>, line 1)

In [5]:
print(2-5)

-3

In [9]:
print(10/4)

2.5

In [11]:
print (100*1.1**7)

194.87171000000012

In [12]:
x = 5
print(x)

5

In [13]:
x = 10

In [14]:
print(x)

10

In [17]:
items = 10
price = 2
returned = 3
sent = "My remaining items are"
net_items = items-returned
print(sent, net_items)

My remaining items are 7

In [19]:
type(sent)

str

In [20]:
# Write three strings, set two of them as variables 'first_sent' and "second_sent"
# Write a comment above each variable describing it
# create a variable of age and print it between the sentence - "This person is 17 years old"

In [21]:
# This the name of the person
name = 'Jack'
# This is the age of the person
age = 30
# This is the job of the person
job = 'Engineer'

print(f"This person name {name} is and age is {age} and job is {job}")
print(f"This person name is {name}  and age is {age} and job is {job}")

This person name Jack is and age is 30 and job is Engineer
This person name is Jack  and age is 30 and job is Engineer

In [24]:
print(f"Persons name is {name}")

Persons name is Jack

In [31]:
age = 22
name = "Ammar"
print("This persons name is", name, "and his age is", age)

This persons name is Ammar and his age is 22

In [36]:
weight == 102
height == 10
BMI = weight/height
BMI

10.2

In [37]:
x = 4

In [38]:
x == 4

True

In [34]:
2 == 2

True